<div class="about-page vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row text-center">
      <div
        class="about-content d-flex justify-content-center align-items-center flex-column"
      >
        <h2 class="text-white fw-bold">ABOUT FRAMEWORK</h2>

        <div class="shape d-flex align-items-center">
          <div class="line"></div>
          <div class="fa-star fa-solid star text-white m-3"></div>
          <div class="line"></div>
        </div>
        <div class="container">
          <div class="row d-flex text-white text-start">
            <div class="col-md-6">
              Freelancer is a free bootstrap theme created by Route. The
              download includes the complete source files including HTML, CSS,
              and JavaScript as well as optional SASS stylesheets for easy
              customization.
            </div>
            <div class="col-md-6">
              Freelancer is a free bootstrap theme created by Route. The
              download includes the complete source files including HTML, CSS,
              and JavaScript as well as optional SASS stylesheets for easy
              customization.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
