<div
  class="contact-page vh-100 d-flex justify-content-center align-items-center"
>
  <div class="container">
    <div class="row text-center">
      <div
        class="contact-content d-flex justify-content-center align-items-center flex-column"
      >
        <h2 class="text-uppercase fw-bold">contact FRAMEWORK</h2>

        <div class="shape d-flex align-items-center">
          <div class="line"></div>
          <div class="fa-star fa-solid star text-dark m-3"></div>
          <div class="line"></div>
        </div>
        <div class="row w-100">
            
          <form action="">
            <input type="text" placeholder="username" class="  m-3 form-control" />
            <input type="number" placeholder="age" class="  m-3 form-control" />
            <input type="email" placeholder="email" class="  m-3 form-control" />
            <input
              type="password"
              placeholder="password"
              class=" m-3 form-control"
            />
            <button class="btn">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
