*{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.current_page{
    background-color: #1ABC9C;
    padding: 10px;
    border-radius: 8px;
    font-weight: bolder;
}

.nav-item a, .navbar-brand{
    color: white;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;

}
.navbar-brand{
    font-size: 30px;
}