<div
  class="port-page vh-100 d-flex justify-content-center align-items-center p-5"
>
  <div class="container py-5">
    <div class="row  py-5">
      <div class="port-content">
        <div class="containerm ">
          <h2 class="fw-bold">PORTFOLIO</h2>

          <div class="shape d-flex align-items-center">
            <div class="line"></div>
            <div class="fa-star fa-solid star text-dark m-3"></div>
            <div class="line"></div>
          </div>
          <div class="row m-3">
            <div class="col-md-4">
              <div class="image rounded-3">
                <img src="https://i.imgur.com/GV2rUU0.jpg" alt="" />
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
            <div class="col-md-4">
              <div class="image rounded-3">
                <img src="https://i.imgur.com/MMfaOcL.jpg" alt="" />
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
            <div class="col-md-4">
              <div class="image rounded-3">
                <img src="https://i.imgur.com/nOeI05p.jpg" alt="" />
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-4">
              <div class="image rounded-3">
                <img src="https://i.imgur.com/GV2rUU0.jpg" alt="" />
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
            <div class="col-md-4">
              <div class="image rounded-3">
                <img src="https://i.imgur.com/MMfaOcL.jpg" alt="" />
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
            <div class="col-md-4">
              <div class="image rounded-3">
                <img src="https://i.imgur.com/nOeI05p.jpg" alt="" />
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
