<div class="home-page vh-100 d-flex justify-content-center align-items-center flex-column">
  <div class="container">
    <div class="row">
      <div
        class="home-content d-flex justify-content-center align-items-center flex-column"
      >
        <img src="./assets/img/avataaars.svg" alt="avatar" />
        <h2 class="text-white fw-bold">START FRAMEWORK</h2>

        <div class="shape d-flex justify-content-between align-items-center">
          <div class="line"></div>
          <div class="fa-star fa-solid star text-white m-3"></div>
          <div class="line"></div>
        </div>

        <p class="text-white my-2">
          Graphic Artist - Web Designer - Illustrator
        </p>
      </div>
    </div>
  </div>
</div>
